/* ========== start pictures section ==========*/
@use "../helper/variables" as *;
.pictures {
    display: grid;
    grid-template-columns: repeat(4,1fr);

    img,
    source {
        height: 100%;
        width: 100%;
    }
}

/* ========== end pictures section ==========*/
