/* ========== start  section ==========*/
@use "../helper/variables" as *;
.section {
    &__container {
        display: flex;
        justify-content: space-between;

        &-content,
        &-pic {
            flex: 1;
        }
        &-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 1.5rem;

            h2,
            p,
            a {
                width: 350px;
                max-width: 100%;
            }
            h2 {
                line-height: 1.3;
                font-size: 2rem;
            }
            p {
                font-size: 15px;
            }
        }
        &-pic {
            source,
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .graphic_photgraphy {
        row-gap: unset;
        .graphic {
            background: url("../images/mobile/image-graphic-design.jpg");
        }
        .photography {
            background: url("../images/desktop/image-photography.jpg");
        }
        .graphic,
        .photography {
            flex: unset;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            min-height: 75vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-bottom: 2rem;
            align-items: center;
        }
        .graphic p,
        .photography p {
            font-weight: bold;
            font-size: 16px;
        }
        .graphic p,
        .graphic h3 {
            color: #2c7566;
        }
        .photography h3,
        .photography p {
            color: rgb(23, 84, 105);
        }
    }
}
/* ========== start  section ==========*/
